
<div id="tree">
    <ng-container *ngTemplateOutlet="treeViewList; 
                                 context:{$implicit:TreeData}">
    </ng-container>
</div>

<ng-template #treeViewList let-list>
    <div class="branch">
   
        <div class="entry" *ngFor="let item of list;let i=index">
            <!-- <div class="card" style="width:400px">
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/two-hummingbird-bird-pink-flower-hummingbirds-fiery-throated-hummingbird-flying-next-to-beautiful-bloom-flower-savegre-co-95610310.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div> -->
              <span> {{item.name}}</span>
            <ng-container *ngTemplateOutlet="treeViewList;
                        context:{$implicit: item.children}">
            </ng-container>
        </div>
    </div>
</ng-template>