<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>CompanyEmails</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        CompanyAddressId :
                    </div>
                    <div class="col-md-3">
                        <input type="number" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="companyemails.CompanyAddressId" placeholder="CompanyAddressId">
                    </div>
                    <div class="col-md-3">
                        Email :
                    </div>
                    <div class="col-md-3">
                        <!-- <select name="" id="" name="QualificationName" [(ngModel)]="institution.QualificationtypeId">
                            <option *ngFor="let item of qualificationdata" value="{{item.QualificationName}}" > {{item.QualificationName}} </option>
                        </select> -->
                        <input type="text" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="companyemails.Email" placeholder="Email" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        IsPrimary :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="companyemails.IsPrimary" placeholder="IsPrimary" />
                    </div>
                    <div class="col-md-3">
                        OrderId :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="companyemails.OrderId" placeholder="OrderId" />
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddCompanyEmails()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateCompanyEmails()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>CompanyEmails Data</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>CompanyAddressId</th>
                                        <th>Email</th>
                                        <th>IsPrimary</th>
                                        <th>OrderId</th>
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of companyemailsData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.CompanyAddressId}}</td>
                                        <td>{{item.Email}}</td>
                                        <td>{{item.IsPrimary}}</td>
                                        <td>{{item.OrderId}}</td>
                                        <td><button class="btn btn-info" (click)="GetCompanyEmailsById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteCompanyEmails(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>