<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>TaskDocuments</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        Id :
                    </div>
                    <div class="col-md-3">
                        <input type="number" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="taskdocuments.Id" placeholder="Id">
                    </div>
                    <div class="col-md-3">
                        TaskId :
                    </div>
                    <div class="col-md-3">
                      
                        <input type="number" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="taskdocuments.TaskId" placeholder="TaskId" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        FileType :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="taskdocuments.FileType" placeholder="FileType" />
                    </div>

                    <div class="col-md-3">
                        FileName :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="taskdocuments.FileName" placeholder="FileName" />
                    </div>
                    <div class="col-md-3">
                        File :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="taskdocuments.File" placeholder="File" />
                    </div>

                    <div class="col-md-3">
                        Description :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="taskdocuments.Description" placeholder="Description" />
                    </div>


                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddTaskDocuments()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateTaskDocuments()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>TaskDocuments Data</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>Id</th>
                                        <th>TaskId</th>
                                        <th>FileType</th>
                                        <th>FileName</th>
                                        <th>File</th>
                                        <th>Description</th>
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of taskdocumentsData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                    
                                        <td>{{item.Id}}</td>
                                        <td>{{item.TaskId}}</td>
                                        <td>{{item.FileType}}</td>
                                        <td>{{item.FileName}}</td>
                                        <td>{{item.File}}</td>
                                        <td>{{item.Description}}</td>
                                        
                                        <td><button class="btn btn-info" (click)="GetTaskDocumentsById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteTaskDocuments(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>