<div class='dashboard-content'>
    <div class='container'>
        <div class='card shadow-lg p-4 mb-4 bg-white'>
            <div class='card-header' style="background-color: #007BFF;color:#fff;">
                <h4>Profile</h4>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        Company Name :
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="companydetail.company.Name" placeholder="CompanyName">
                    </div>

                    <div class="col-md-3">
                        Code :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="companydetail.company.Code" placeholder="Code" />
                    </div>


                </div>
            </div>
        </div>


        <br>

        <div class='card shadow-lg p-4 mb-4 bg-white'>
            <div class='card-header' style="background-color: #007BFF;color:#fff;">
                <h4> ADDRESS</h4>
            </div>
            <div class='card-body' *ngFor="let companyaddress of companyaddressData; let i=index; let l=count">
                <h5>Address-{{i+1}}</h5><br>
                <div class="row" style="padding-bottom: 10px;">

                    <!-- <div class="col-md-3">
                        Company :
                    </div>
                    <div class="col-md-3">
                        <select name="" id="" [(ngModel)]="companyaddress.CompanyId" class="form-control">
                            <option *ngFor="let item of companyData" value="{{item.Id}}">{{item.Name}}</option>
                        </select>

                        <input type="number" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="companyaddress.CompanyId" placeholder="InstitutionName">
                    </div> -->
                    <div class="col-md-3">
                        FlotNo :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" class="form-control" id="txtcode1"
                            [(ngModel)]="companyaddress.FlotNo" placeholder="FlotNo" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        Address1 :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode2" class="form-control"
                            [(ngModel)]="companyaddress.Address1" placeholder="Address1" />
                    </div>
                    <div class="col-md-3">
                        Address2 :
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="companyaddress.Address2" placeholder="Address2">
                    </div>
                    <br><br>
                    <div class="col-md-3">
                        City :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="companyaddress.City" placeholder="City" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        State :
                    </div>
                    <div class="col-md-3">
                        <select name="" id="" [(ngModel)]="companyaddress.StateId" class="form-control">
                            <option *ngFor="let item of statesData" value="{{item.Id}}">{{item.Name}}</option>
                        </select>
                        <!-- <input type="number" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="companyaddress.StateId" placeholder="InstitutionName"> -->
                    </div>
                    <div class="col-md-3">
                        Country :
                    </div>
                    <div class="col-md-3">
                        <select name="" id="" [(ngModel)]="companyaddress.CountryId" class="form-control">
                            <option *ngFor="let item of countriesData" value="{{item.Id}}">{{item.Name}}</option>
                        </select>
                        <!-- <input type="number" name="txtcode" class="form-control" id="txtcode" [(ngModel)]="companyaddress.CountryId" placeholder="QualificationtypeId" /> -->
                    </div>

                    <br><br>

                </div>
                <div class="row ">
                    <div class="col-md-9"></div>

                    <div class="col-md-3 float-right">

                        <a (click)="CompanyObjectPush('CompanyAddress')"><img src="assets/Plus Button.png"
                                alt="Not Found" height="40" width="40" srcset="" *ngIf="i==l-1"></a>

                        <a (click)="ArrayObjectRemoveAt(companyaddress.companycontactsData, i)"
                            *ngIf="l==1?false:true"><img src="assets/Minus Button.png" alt="Not Found" height="35"
                                width="35" srcset=""></a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class='card shadow-lg p-4 mb-4 bg-white'>
            <div class='card-header' style="background-color: #007BFF;color:#fff;">
                <h4> CONTACTS</h4>
            </div>
            <div class='card-body'
                *ngFor="let comContact of companyaddress.companycontactsData; let i=index; let l=count">
                <h5>CONTACT-{{i+1}}</h5><br>
                <div class="row" style="padding-bottom: 10px;">
                    <!-- <div class="col-md-3">
                    CompanyAddress :
                </div>
                <div class="col-md-3">
                    <select name="companyaddress" id="companyaddress" [(ngModel)]="companycontacts.CompanyAddressId"
                        class="form-control">
                        <option *ngFor="let item of companyaddressData" value="{{item.Id}}">{{item.Address1}}
                        </option>
                    </select>

                    <input type="number" id="txtskill" class="form-control" Name="txtskill"
                    [(ngModel)]="companycontacts.CompanyAddressId" placeholder="CompanyAddressId">
                </div> -->
                    <div class="col-md-3">
                        Mobile :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="comContact.MobileNumber" placeholder="MobileNumber" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        Primary :
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" name="txtcode" id="txtcode" class="form-check-input"
                            [(ngModel)]="comContact.IsPrimary" placeholder="IsPrimary" />
                    </div>

                    <div class="col-md-3">
                        Order :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="comContact.OrderId" placeholder="OrderId" />
                    </div>
                    <br><br>

                    <div class="col-md-3">
                        Contact Type :
                    </div>
                    <div class="col-md-3">
                        <select name="ddlcompanyContacts" id="ddlcompanyContacts" [(ngModel)]="comContact.ContactTypeId"
                            class="form-control">
                            <option *ngFor="let item of contacttypeData" value="{{item.Id}}">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-9"></div>

                    <div class="col-md-3 float-right">

                        <a (click)="CompanyObjectPush('CompanyContacts')"><img src="assets/Plus Button.png"
                                alt="Not Found" height="40" width="40" srcset="" *ngIf="i==l-1"></a>

                        <a (click)="ArrayObjectRemoveAt(companyaddress.companycontactsData, i)"
                            *ngIf="l==1?false:true"><img src="assets/Minus Button.png" alt="Not Found" height="35"
                                width="35" srcset=""></a>
                    </div>
                </div>
            </div>
        </div>

        <br>


        <div class='card shadow-lg p-4 mb-4 bg-white'>
            <div class='card-header' style="background-color: #007BFF;color:#fff;">
                <h4> EMAILS</h4>
            </div>
            <div class='card-body' *ngFor="let comEmail of companyaddress.companyemailsData; let i=index; let l=count">
                <div class="row" style="padding-bottom: 10px;">
                    <!-- <div class="col-md-3">
                    CompanyAddress :
                </div>
                <div class="col-md-3">
                    <select name="" id="" [(ngModel)]="companyemails.CompanyAddressId" class="form-control">
                        <option *ngFor="let item of companyaddressData" value="{{item.Id}}">{{item.Address1}}
                        </option>
                    </select>
                    <input type="number" id="txtskill" class="form-control" Name="txtskill"
                        [(ngModel)]="companyemails.CompanyAddressId" placeholder="CompanyAddressId">
                </div> -->
                    <div class="col-md-3">
                        Email :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" class="form-control" id="txtcode" [(ngModel)]="comEmail.Email"
                            placeholder="Email" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        Primary :
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" name="txtcode" id="txtcode" class="form-check-input"
                            [(ngModel)]="comEmail.IsPrimary" placeholder="IsPrimary" />
                    </div>
                    <div class="col-md-3">
                        Order :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="comEmail.OrderId" placeholder="OrderId" />
                    </div>
                    <br><br>

                    <div class="col-md-3">
                        Contact Type :
                    </div>
                    <div class="col-md-3">
                        <select name="" id="" [(ngModel)]="comEmail.ContactTypeId" class="form-control">
                            <option *ngFor="let item of contacttypeData" value="{{item.Id}}">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-9"></div>

                    <div class="col-md-3 float-right">

                        <a (click)="CompanyObjectPush('CompanyEmails')"><img src="assets/Plus Button.png"
                                alt="Not Found" height="40" width="40" srcset="" *ngIf="i==l-1"></a>

                        <a (click)="ArrayObjectRemoveAt(companyaddress.companyemailsData, i)"
                            *ngIf="l==1?false:true"><img src="assets/Minus Button.png" alt="Not Found" height="35"
                                width="35" srcset=""></a>
                    </div>
                </div>
            </div>
        </div>

        <br>


        <div class='card shadow-lg p-4 mb-4 bg-white'>
            <div class='card-header' style="background-color: #007BFF;color:#fff;">
                <h4> REVIEWS</h4>
            </div>
            <div class='card-body' *ngFor="let rv of companyreviewsData; let i=index; let l=count">
                <div class="row" style="padding-bottom: 10px;">

                    <div class="col-md-3">
                        Heading :
                    </div>
                    <div class="col-md-3">
                        <div>
                            <input type="text" name="txtcode" class="form-control" id="txtcode" [(ngModel)]="rv.Heading"
                                placeholder="Heading" />

                        </div>
                    </div>
                    <div class="col-md-3">
                        Rating :
                    </div>
                    <div class="col-md-3">
                        <div>
                            <input type="number" class="form-control" placeholder="Rating" [(ngModel)]="rv.Rating">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-md-3">
                        Description :
                    </div>
                    <div class="col-md-3">
                        <div>
                            <textarea name="Heading" id="" cols="50" rows="2" [(ngModel)]="rv.Description"
                                class="form-control" placeholder="Description"></textarea>
                        </div>
                    </div>


                </div>
                <div class="row ">
                    <div class="col-md-9"></div>

                    <div class="col-md-3 float-right">

                        <a (click)="CompanyObjectPush('Reviews')"><img src="assets/Plus Button.png" alt="Not Found"
                                height="40" width="40" srcset="" *ngIf="i==l-1"></a>

                        <a (click)="ArrayObjectRemoveAt(companyreviewsData, i)" *ngIf="l==1?false:true"><img
                                src="assets/Minus Button.png" alt="Not Found" height="35" width="35" srcset=""></a>
                    </div>
                </div>


                <br>
            </div>
            <div class="row ">

                <div class="col-md-3"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                   
                </div>
                <div class="col-md-5"></div>
            </div>


            <br><br>
            
        </div>
        <button (click)="OnSaveCompanyDetail()" class="btn btn-primary"
            style="margin-right:30px;float: right;">Submit</button>
    </div>
</div>