<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>FamilyContacts</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        Family :
                    </div>
                    <div class="col-md-3">
                            <select name="" id="" name="" [(ngModel)]="familycontacts.FamilyId" class="form-control">
                            <option *ngFor="let item of familyData" value="{{item.Id}}" > {{item.FirstName}} </option>
                        </select>
                        <!-- <input type="number" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="familycontacts.FamilyId" placeholder="FamilyId"> -->
                    </div>
                    <div class="col-md-3">
                        MobileNumber :
                    </div>
                    <div class="col-md-3">
                    
                        <input type="number" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="familycontacts.MobileNumber" placeholder="MobileNumber" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        IsPrimary :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="familycontacts.IsPrimary" placeholder="IsPrimary   " />
                    </div>

                    <div class="col-md-3">
                        OrderId :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="familycontacts.OrderId" placeholder="OrderId" />
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddFamilyContacts()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateFamilyContacts()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>FamilyContacts Data</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>FamilyId</th>
                                        <th>MobileNumber</th>
                                        <th>IsPrimary</th>
                                        <th>OrderId</th>
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of familycontactsData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.FamilyId}}</td>
                                        <td>{{item.MobileNumber}}</td>
                                        <td>{{item.IsPrimary}}</td>
                                        <td>{{item.OrderId}}</td>
                                        <td><button class="btn btn-info" (click)="GetFamilyContactsById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteFamilyContacts(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>