<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>UserAddressDetails</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        Id :
                    </div>
                    <div class="col-md-3">
                        <input type="number" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="useraddressdetails.Id" placeholder="Id">
                    </div>
                    <div class="col-md-3">
                        FlotNo :
                    </div>
                    <div class="col-md-3">
                        
                        <input type="text" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="useraddressdetails.FlotNo" placeholder="FlotNo" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        Address1 :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="useraddressdetails.Address1" placeholder="Address1" />
                    </div>

                    
                    <br><br>
                    <div class="col-md-3">
                        Address2 :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="useraddressdetails.Address2" placeholder="Address2" />
                    </div>
                    
                    <br><br>
                    <div class="col-md-3">
                        City :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="useraddressdetails.City" placeholder="City" />
                    </div>
                    
                    <br><br>
                    <div class="col-md-3">
                        State :
                    </div>
                    <div class="col-md-3">
                       <select  id="Id" name="StateName" [(ngModel)]="useraddressdetails.StateId">
                            <option *ngFor="let item of  statesData" value="{{item.Id}}" > {{item.StateName}} </option>
                        </select>
                    </div>
                    
                    <br><br>
                    <div class="col-md-3">
                        Country :
                    </div>
                    <div class="col-md-3">
                        <select  id="Id" name="Name" [(ngModel)]="useraddressdetails.CountryId">
                            <option *ngFor="let item of  countriesData" value="{{item.Id}}" > {{item.CountryName}} </option>
                        </select>
                    </div>
                    
                    <br><br>
                    <div class="col-md-3">
                        User :
                    </div>
                    <div class="col-md-3">
                        <select  id="Id" name="Name" [(ngModel)]="useraddressdetails.UserId">
                            <option *ngFor="let item of   usersData" value="{{item.Id}}" > {{item.FirstName}} </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        IsPermanent :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="useraddressdetails.IsPermanent" placeholder="IsPermanent" />
                    </div>

                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddUserAddressDetails()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateUserAddressDetails()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>UserAddressDetails Data</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>Id</th>
                                        <th>FlotNo</th>
                                        <th>Address1</th>
                                        <th>Address2</th>
                                        <th>City</th>
                                        <th>StateId</th>
                                        <th>CountryId</th>
                                        <th>UserId</th>
                                        <th>IsPermanent</th>
                                        
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of useraddressdetailsData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.Id}}</td>
                                        <td>{{item.FlotNo}}</td>
                                        <td>{{item.Address1}}</td>
                                        <td>{{item.Address2}}</td>
                                        <td>{{item.City}}</td>
                                        <td>{{item.StateId}}</td>
                                        <td>{{item.CountryId}}</td>
                                        <td>{{item.UserId}}</td>
                                        <td>{{item.IsPermanent}}</td>
                                        
                                        <td><button class="btn btn-info" (click)="GetUserAddressDetailsById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteUserAddressDetails(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>