<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>SPIRNT TASK</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        Sprint :
                    </div>
                    <div class="col-md-3">
                        <select name="" id="" name="SprintId" [(ngModel)]="sprinttasks.SprintId" class="form-control">
                            <option value="0">Select</option>
                            <option *ngFor="let  item of sprintData" value="{{item.Id}}" > {{item.Name}} </option>
                           </select>
                        <!-- <input type="number" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="sprinttasks.SprintId" placeholder="SprintId"> -->
                    </div>
                    <div class="col-md-3">
                        Task :
                    </div>
                    <div class="col-md-3">

                        <select name="" id="" name="TaskId" [(ngModel)]="sprinttasks.TaskId" class="form-control">
                            <option value="0">Select</option>
                            <option *ngFor="let  item of taskData" value="{{item.Id}}" > {{item.Name}} </option>
                           </select>
                        <!-- <input type="number" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="sprinttasks.TaskId" placeholder="TaskId" /> -->
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        Status :
                    </div>
                    <div class="col-md-3">
                        <select name="" id="" name="StatusId" [(ngModel)]="sprinttasks.StatusId" class="form-control">
                            <option value="0">Select</option>
                            <option *ngFor="let  item of statusData" value="{{item.Id}}" > {{item.Name}} </option>
                           </select>
                        <!-- <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="sprinttasks.StatusId" placeholder="StatusId" /> -->
                    </div>

                    <div class="col-md-3">
                        Description :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="sprinttasks.Description" placeholder="Description" />
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddSprintTasks()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateSprintTasks()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>SPIRNT TASK DATA</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>SprintId</th>
                                        <th>TaskId</th>
                                        <th>StatusId</th>
                                        <th>Description</th>
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of sprinttasksData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.SprintId}}</td>
                                        <td>{{item.TaskId}}</td>
                                        <td>{{item.StatusId}}</td>
                                        <td>{{item.Description}}</td>
                                        <td><button class="btn btn-info" (click)="GetSprintTasksById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteSprintTasks(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>