<div class='dashboard-content'>
  <div class='container'>
    <div class='card'>
      <div class='card-header'>
        <h1>VACANCIES</h1>
      </div>
      <div class='card-body'>

        <div class="row" style="padding-bottom: 10px;">
          <div class="col-md-3">
            <b>Id :</b>
          </div>
          <div class="col-md-3">
            <input type="number" id="txtskill" Name="txtskill" class="form-control" [(ngModel)]="vacancies.Id"
              placeholder="Id">
          </div>
          <div class="col-md-3">
            <b>Name :</b>
          </div>
          <div class="col-md-3">
            <input type="text" name="txtcode" id="txtcode" class="form-control" [(ngModel)]="vacancies.Name"
              placeholder="Name" />
          </div>
          <br><br>
          <div class="col-md-3">
            <b> Code :</b>
          </div>
          <div class="col-md-3">
            <input type="text" name="txtcode" id="txtcode" class="form-control" [(ngModel)]="vacancies.Code"
              placeholder="Code" />
          </div>


          <div class="col-md-3">
            <b> Company :</b>
          </div>
          <div class="col-md-3">
            <select name="" id="" [(ngModel)]="vacancies.CompanyId" class="form-control">
              <option *ngFor="let item of companyData" value="{{item.Id}}">{{item.CompanyName}}</option>
            </select>
            <!-- <input type="number" name="txtcode" id="txtcode"  class="form-control" [(ngModel)]="vacancies.CompanyId" placeholder="CompanyId"/> -->
          </div>

          <br><br>
          <div class="col-md-3">
            <b> Count :</b>
          </div>
          <div class="col-md-3">
            <input type="number" name="txtcode" id="txtcode" class="form-control" [(ngModel)]="vacancies.Count"
              placeholder="Count" />
          </div>
          <div class="col-md-3">
            <b> ExperienceFrom :</b>
          </div>
          <div class="col-md-3">
            <input type="number" name="txtcode" id="txtcode" class="form-control" [(ngModel)]="vacancies.ExperienceFrom"
              placeholder="ExperienceFrom" />
          </div> <br><br>
          <div class="col-md-3">
            <b> ExperienceTo :</b>
          </div>
          <div class="col-md-3">
            <input type="number" name="txtcode" id="txtcode" class="form-control" [(ngModel)]="vacancies.ExperienceTo"
              placeholder="ExperienceTo" />
          </div>
          <div class="col-md-3">
            <b> Status :</b>
          </div>
          <div class="col-md-3">
            <select name="" id="" [(ngModel)]="vacancies.StatusId" class="form-control">
              <option *ngFor="let item of statusData" value="{{item.Id}}">{{item.Name}}</option>
            </select>
            <!-- <input type="number" name="txtcode" id="txtcode"  class="form-control" [(ngModel)]="vacancies.StatusId" placeholder="StatusId"/> -->
          </div> <br><br>
          <div class="col-md-3">
            <b> AppliedCount :</b>
          </div>
          <div class="col-md-3">
            <input type="number" name="txtcode" id="txtcode" class="form-control" [(ngModel)]="vacancies.AppliedCount"
              placeholder="AppliedCount" />
          </div>

          <div class="col-md-3">
            <b> Roled :</b>
          </div>
          <div class="col-md-3">
            <select name="" id="" [(ngModel)]="vacancies.RoleId" class="form-control">
              <option *ngFor="let item of rolesData" value="{{item.Id}}">{{item.Name}}</option>
            </select>
            <!-- <input type="number" name="txtcode" id="txtcode"  class="form-control" [(ngModel)]="vacancies.RoledId" placeholder="RoledId"/> -->
          </div>

          <br><br>

          <div class="col-md-3">
            <b> IndustryType :</b>
          </div>
          <div class="col-md-3">
            <select name="" id="" [(ngModel)]="vacancies.IndustryTypeId" class="form-control">
              <option *ngFor="let item of industrytypesData" value="{{item.Id}}">{{item.Name}}</option>
            </select>

            <!-- <input type="number" name="txtcode" id="txtcode"  class="form-control" [(ngModel)]="vacancies.IndustryTypeId" placeholder="IndustryTypeId"/> -->
          </div>
          <div class="col-md-3">
            <b> Department :</b>
          </div>
          <div class="col-md-3">
            <select name="" id="" [(ngModel)]="vacancies.DepartmentId" class="form-control">
              <option *ngFor="let item of departmentsData" value="{{item.Id}}">{{item.Name}}</option>
            </select>

            <!-- <input type="number" name="txtcode" id="txtcode"  class="form-control" [(ngModel)]="vacancies.DepartmentId" placeholder="DepartmentId"/> -->
          </div> <br><br>
          <div class="col-md-3">
            <b> EmploymentType :</b>
          </div>
          <div class="col-md-3">
            <select name="" id="" [(ngModel)]="vacancies.EmploymentTypeId" class="form-control">
              <option *ngFor="let item of employmenttypesData" value="{{item.Id}}">{{item.Name}}</option>
            </select>
            <!-- <input type="number" name="txtcode" id="txtcode"  class="form-control"  [(ngModel)]="vacancies.EmploymentTypeId" placeholder="EmploymentTypeId"/> -->
          </div>
          <div class="col-md-3">
            <b> RoleCategory :</b>
          </div>
          <div class="col-md-3">
            <select name="" id="" [(ngModel)]="vacancies.RoleCategoryId" class="form-control">
              <option *ngFor="let item of rolecategoryData" value="{{item.Id}}">{{item.Name}}</option>
            </select>
            <!-- <input type="number" name="txtcode" id="txtcode"  class="form-control" [(ngModel)]="vacancies.RoleCategoryId" placeholder="RoleCategoryId"/> -->
          </div> <br><br>


          <div class="col-md-3">
            <b> EducationType :</b>
          </div>
          <div class="col-md-3">

            <select name="" id="" [(ngModel)]="vacancies.EducationTypeId" class="form-control">
              <option *ngFor="let item of employmenttypesData" value="{{item.Id}}">{{item.Name}}</option>
            </select>
            <!-- <select name="" id="" [(ngModel)]="vacancies.EducationTypeId" class="form-control">
              <option *ngFor="let item of rolecategoryData" value="{{item.Id}}">{{item.Name}}</option>
            </select> -->
            <!-- <input type="text" name="txtcode" id="txtcode"  class="form-control" [(ngModel)]="vacancies.EducationTypeId" placeholder="EducationTypeId"/>  -->
          </div> <br><br>


          <div class="col-md-3">


          </div>
          <div class="row " style="padding-bottom: 10px;">
            <div class="col-md-9"></div>
            <div class="col-md-1">
              <button class="btn btn-primary" (click)="AddVacancies()" *ngIf="isSave">Submit</button>
            </div>
            <div class="col-md-2">
              <button (click)="UpdateVacancies()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
            </div>

          </div>


          <!-- <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                      <button (click)="InsertVacanciesSkill()" class="btn btn-primary" *ngIf="issaved">Save</button>
                    </div>
                </div>
  
                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                      <button (click)="UpdateVacaciesSkill()" class="btn btn-primary" *ngIf="isupdate">Update</button>
                    </div>
                </div>
   -->

          <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-12">
              <div class="container mt-3">
                <!-- <button class="btn btn-primary" style="float: right;" (click)="GetVacanciesById(-1)"> New </button> -->
                <h2>VACANCIES DATA</h2>
                <table class="table table-bordered">
                  <thead>
                    <tr style="background-color: #007bff;color: white">
                      <th>Id</th>
                      <th>Name</th>
                      <th>Code</th>
                      <th>CompanyId</th>
                      <th>Count</th>
                      <th>ExperienceFrom</th>
                      <th>ExperienceTo</th>
                      <th>StatusId</th>
                      <th>AppliedCount</th>
                      <th>RoleId</th>
                      <th>IndustryTypeId</th>
                      <th>DepartmentId</th>
                      <th>EmploymentTypeId</th>
                      <th>RoleCategoryId</th>
                      <th>EducationTypeId</th>


                      <th style="text-align: center;" colspan="2">Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of vacanciesData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                      <td>{{item.Id}}</td>
                      <td>{{item.Name}}</td>
                      <td>{{item.Code}}</td>
                      <td>{{item.CompanyId}}</td>
                      <td>{{item.Count}}</td>
                      <td>{{item.ExperienceFrom}}</td>
                      <td>{{item.ExperienceTo}}</td>
                      <td>{{item.StatusId}}</td>
                      <td>{{item.AppliedCount}}</td>
                      <td>{{item.RoleId}}</td>
                      <td>{{item.IndustryTypeId}}</td>
                      <td>{{item.DepartmentId}}</td>
                      <td>{{item.EmploymentTypeId}}</td>
                      <td>{{item.RoleCategoryId}}</td>
                      <td>{{item.EducationTypeId}}</td>


                      <td><button class="btn btn-primary" (click)="GetVacanciesById(item.Id)"> EDIT </button></td>
                      <td><button class="btn btn-danger" (click)="DeleteVacancies(item.Id)"> DELETE </button></td>
                    </tr>
                  </tbody>
                </table>

                <div class="d-flex justify-content-center">
                  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                  </pagination-controls>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>