<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>YearSemester</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        Id :
                    </div>
                    <div class="col-md-3">
                        <input type="number" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="yearsemester.Id" placeholder="Id">
                    </div>
                    <div class="col-md-3">
                        CYears :
                    </div>
                    <div class="col-md-3">
                        <select name="" id="" [(ngModel)]="yearsemester.CyearsId" class="form-control"> 
                            <option  *ngFor="let item of cyearsData" value="{{item.Id}}">{{item.Name}}</option>
                        </select>
                      
                        <!-- <input type="number" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="yearsemester.CyearsId" placeholder="CyearsId" /> -->
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        SemesterId :
                    </div>
                    <div class="col-md-3">
                        <select name="" id="" [(ngModel)]="yearsemester.SemesterId" class="form-control"> 
                            <option  *ngFor="let item of semestersData" value="{{item.Id}}">{{item.Name}}</option>
                        </select>
                        <!-- <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="yearsemester.SemesterId" placeholder="SemesterId" /> -->
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        OrderId :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="yearsemester.OrderId" placeholder="OrderId" />
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddYearSemester()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateYearSemester()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>YearSemester Data</h2>

                            <table class="table table-bordered">
                                <thead>	
                                    <tr style="background-color: #007bff;color: white">
                                        <th>Id</th>
                                        <th>CyearsId</th>
                                        <th>SemesterId</th>
                                        <th>OrderId</th>
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of yearsemesterData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.Id}}</td>
                                        <td>{{item.CyearsId}}</td>
                                        <td>{{item.SemesterId}}</td>
                                        <td>{{item.OrderId}}</td>
                                        <td><button class="btn btn-info" (click)="GetYearSemesterById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteYearSemester(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>