<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>Status</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        Name :
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="status.Name" placeholder="Name">
                    </div>
                    <div class="col-md-3">
                        Code :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="status.Code" placeholder="Code" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        IsActive :
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="status.IsActive" placeholder="IsActive" />
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddStatus()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateStatus()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>Status Data</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>IsActive</th>
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of statusData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.Name}}</td>
                                        <td>{{item.Code}}</td>
                                        <td>{{item.IsActive}}</td>
                                        <td><button class="btn btn-info" (click)="GetStatusById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteStatus(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>