<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header' >
                <h1 >VACANCIES SKILL</h1> 
            </div>
            <div class='card-body'>
  
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                       <b>Id :</b> 
                    </div>
                    <div class="col-md-3">
                      <input type="number" id="txtskill" Name="txtskill"  class="form-control" [(ngModel)]="vacanciesskill.Id" placeholder="Id">
                    </div>
                    <div class="col-md-3">
                       <b>Vacancy :</b> 
                    </div>
                    <div class="col-md-3">
                      <select name="" id="" [(ngModel)]="vacanciesskill.VacancyId" class="form-control"> 
                        <option  *ngFor="let item of vacanciesData" value="{{item.Id}}">{{item.Name}}</option>
                    </select>
                      <!-- <input type="number" name="txtcode" id="txtcode"  class="form-control" [(ngModel)]="vacanciesskill.VacancyId" placeholder="VacancyId"/> -->
                    </div>
                    <br><br>
                    <div class="col-md-3">
                       <b> Skill :</b>
                    </div>
                    <div class="col-md-3">
                      <select name="" id="" [(ngModel)]="vacanciesskill.SkillId" class="form-control"> 
                        <option  *ngFor="let item of skillsData" value="{{item.Id}}">{{item.SkillName}}</option>
                    </select>
                      <!-- <input type="text" name="txtcode" id="txtcode"  class="form-control" [(ngModel)]="vacanciesskill.SkillId" placeholder="SkillId"/> -->
                    </div>
                    
                    <br><br>
                    <div class="col-md-3">
                       <b> IsActive :</b>
                    </div>
                    <div class="col-md-3">
                      <input type="checkbox" name="txtcode" id="txtcode"  class="form-check-input" [(ngModel)]="vacanciesskill.IsActive" placeholder="IsActive"/>
                    </div></div>
                    
                
                <!-- <div class="row " style="padding-bottom: 10px;">
                  <div class="col-md-9"></div>
                  <div class="col-md-1">
                    <button (click)="GetVacanciesSkill()" class="btn btn-primary"  >Search</button>
                  </div>
              </div> -->
  
  
                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                      <button (click)="AddVacanciesSkill()" class="btn btn-primary" *ngIf="isSave">Save</button>
                    </div>
                </div>
  
                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                      <button (click)="UpdateVacanciesSkill()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

  
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                             <!-- <button class="btn btn-primary" style="float: right;" (click)="GetVacanciesSkillById(-1)"> New </button> -->
  
                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>Id</th>
                                        <th>VacancyId</th>
                                        <th>SkillId</th>
                                        <th>IsActive</th>
                                        
                                        <th style="text-align: center;" colspan="2" >Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of vacanciesskillData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index"> 
                                        <td>{{item.Id}}</td>
                                        <td>{{item.VacancyId}}</td>
                                        <td>{{item.SkillId}}</td>
                                        <td>{{item.IsActive}}</td>
                                       
  
                                        <td><button class="btn btn-primary" (click)="GetVacanciesSkillById(item.Id)"> EDIT </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteVacanciesSkill(item.Id)"> DELETE </button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <ul class="pagination" style="float: right;">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul> -->
                            <div class="d-flex justify-content-center">
                              <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                              </pagination-controls>
                          </div>
                        </div>
                    </div>
                </div>
  
  
            </div>
        </div>
    </div>
  </div>
  
  