<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>MENU LIST</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        M_P_ID :
                    </div>
                    <div class="col-md-3">
                        <input type="number" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="menu_list.M_P_ID" placeholder="M_P_ID">
                    </div>
                    <div class="col-md-3">
                        M_NAME :
                    </div>
                    <div class="col-md-3">
                        <!-- <select name="" id="" name="QualificationName" [(ngModel)]="institution.QualificationtypeId">
                            <option *ngFor="let item of qualificationdata" value="{{item.QualificationName}}" > {{item.QualificationName}} </option>
                        </select> -->
                        <input type="text" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="menu_list.M_NAME" placeholder="M_NAME" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        CONTROLLER_NAME :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="menu_list.CONTROLLER_NAME" placeholder="CONTROLLER_NAME" />
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddMenu_List()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateMenu_List()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>MENU LIST DATA</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>M_P_ID</th>
                                        <th>M_NAME</th>
                                        <th>CONTROLLER_NAME</th>
                                        <th>ACTION_NAME</th>
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of menu_listData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.M_P_ID}}</td>
                                        <td>{{item.M_NAME}}</td>
                                        <td>{{item.CONTROLLER_NAME}}</td>
                                        <td>{{item.ACTION_NAME}}</td>
                                        <td><button class="btn btn-info" (click)="GetMenu_ListById(item.M_ID)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteMenu_List(item.M_ID)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>