<div class='dashboard'>
  <div class="dashboard-nav">
    <header><a class="menu-toggle"><i class="fa fa-bars"></i></a><a [routerLink]="['somepath']" class="brand-logo"><i
          class="fa fa-anchor"></i> <span>SKILL ICEBERG</span></a></header>

    <nav class="dashboard-nav-list">
      <a [routerLink]="['somepath']" class="dashboard-nav-item"><i class="fa fa-home"></i> Home </a>
      <a [routerLink]="['somepath']" class="dashboard-nav-item active"><i class="fa fa-tachometer-alt"></i>dashboard</a>


      <a [routerLink]="['somepath']" class="dashboard-nav-item"><i class="fa fa-file-upload"></i> Upload </a>
      <a [routerLink]="['UserReg']" class="dashboard-nav-item"><i class="fa fa-file-upload"></i> UserReg </a>
      <a [routerLink]="['Stepper']" class="dashboard-nav-item"><i class="fa fa-file-upload"></i> Stepper </a>
      <a [routerLink]="['InstitutionTimeline']" class="dashboard-nav-item"><i class="fa fa-file-upload"></i> InstitutionTimeline </a>
      
      
      <a [routerLink]="['InstitutionTask']" class="dashboard-nav-item"><i class="fa fa-file-upload"></i> InstitutionTask </a>
      <!-- <div class='dashboard-nav-dropdown'><a  class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
              class="fa fa-photo-video"></i> Media </a>
          <div class='dashboard-nav-dropdown-menu'><a [routerLink]="['somepath']"
              class="dashboard-nav-dropdown-item">All</a><a [routerLink]="['somepath']"
              class="dashboard-nav-dropdown-item">Recent</a><a [routerLink]="['somepath']"
              class="dashboard-nav-dropdown-item">Images</a><a [routerLink]="['somepath']"
              class="dashboard-nav-dropdown-item">Video</a></div>
        </div> -->



      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-address-book"></i> INSTITUTION </a>
        <div class='dashboard-nav-dropdown-menu'>
          <a [routerLink]="['institutions']" class="dashboard-nav-dropdown-item">Institutions</a>
          <a [routerLink]="['institutionemails']" class="dashboard-nav-dropdown-item">Email</a>
          <a [routerLink]="['institutioncontacts']" class="dashboard-nav-dropdown-item">Contacts</a>
          <a [routerLink]="['institutionaddress']" class="dashboard-nav-dropdown-item"> Address</a>
          <a [routerLink]="['institutioncourses']" class="dashboard-nav-dropdown-item"> institutioncourses</a>
        </div>
      </div>

      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
        class="fa fa-address-book"></i> Affiliator </a>
    <div class='dashboard-nav-dropdown-menu'>
      <a [routerLink]="['AffiliatorRefferals']" class="dashboard-nav-dropdown-item">Refferals</a>
      <a [routerLink]="['AffiliateRefferals']" class="dashboard-nav-dropdown-item">AffiliateRefferals</a>
      <a [routerLink]="['AffiliateRefferalsTimeline']" class="dashboard-nav-dropdown-item">AffiliateRefferalsTimeline</a>
      <a [routerLink]="['institutionaddress']" class="dashboard-nav-dropdown-item"> Address</a>
      <a [routerLink]="['institutioncourses']" class="dashboard-nav-dropdown-item"> institutioncourses</a>
    </div>
  </div>


      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-user"></i> Portals </a>


        <div class='dashboard-nav-dropdown-menu'>
          <a [routerLink]="['CompanyProfilePost']" class="dashboard-nav-dropdown-item"> <i class="fa fa-building"></i>
            CompanyProfilePost</a>
          <a [routerLink]="['CompanyProfileJobs']" class="dashboard-nav-dropdown-item"> <i class="fa fa-building"></i>
            CompanyProfileJobs</a>
          <a [routerLink]="['CompanyProfilePhotos']" class="dashboard-nav-dropdown-item"> <i class="fa fa-building"></i>
            CompanyProfilePhotos</a>

          <a [routerLink]="['Category']" class="dashboard-nav-dropdown-item"> <i class="fa fa-building"></i>
            Category</a>




          <a [routerLink]="['company_reg']" class="dashboard-nav-dropdown-item"> <i class="fa fa-building"></i> Company
            Registration</a>
          <a [routerLink]="['ReviewsPortal3']" class="dashboard-nav-dropdown-item"> <i class="fa fa-building"></i>
            Company Portal</a>
          <a [routerLink]="['institution-reg']" class="dashboard-nav-dropdown-item"> <i
              class="fa fa-envelope"></i>Inistute Registration</a>
          <a [routerLink]="['ReviewsPortal3']" class="dashboard-nav-dropdown-item"> <i
              class="fa fa-envelope"></i>Inistute Portal</a>
          <a [routerLink]="['jobs']" class="dashboard-nav-dropdown-item"> <i class="fa fa-phone-square"></i>
            Jobs Registration</a>
          <a [routerLink]="['jobs']" class="dashboard-nav-dropdown-item"> <i class="fa fa-phone-square"></i>
            Jobs Portals</a>

          <a [routerLink]="['OnlineExam']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-address-card"></i>Exam</a>

          <a [routerLink]="['user-reg']" class="dashboard-nav-dropdown-item"><i class="fa fa-address-card"></i>User
            Registration</a>
          <a [routerLink]="['SocialProfile']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-address-card"></i>SocialProfile</a>
          <a [routerLink]="['info']" class="dashboard-nav-dropdown-item"><i class="fa fa-address-card"></i>Info</a>
          <a [routerLink]="['SocialAbout']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-address-card"></i>SocialAbout</a>
          <a [routerLink]="['ManageAddresses']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-address-card"></i>ManageAddresses</a>
          <a [routerLink]="['CandidatesListing']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-address-card"></i>CandidatesListing</a>
          <a [routerLink]="['ProfileProjects']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-address-card"></i>ProfileProjects</a>
          <a [routerLink]="['ProfileTaskTeam']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-address-card"></i>ProfileTaskTeam</a>
          <a [routerLink]="['ProfileWithTeamSection']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-address-card"></i>ProfileWithTeamSection</a>
          <a [routerLink]="['TaskBoardPage']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-address-card"></i>TaskBoardPage</a>
          <a [routerLink]="['ProfileContacts']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-address-card"></i>ProfileContacts</a>
          <a [routerLink]="['ProfileContent']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-address-card"></i>ProfileContent</a>







        </div>
      </div>





      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-user"></i> USER </a>
        <div class='dashboard-nav-dropdown-menu'>
          <a [routerLink]="['users']" class="dashboard-nav-dropdown-item"> <i class="fa fa-building"></i> Users</a>
          <a [routerLink]="['useremails']" class="dashboard-nav-dropdown-item"> <i class="fa fa-envelope"></i>Emails</a>
          <a [routerLink]="['usercontacts']" class="dashboard-nav-dropdown-item"> <i class="fa fa-phone-square"></i>
            Contacts</a>

          <a [routerLink]="['useraddressdetails']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-address-card"></i> Address Details</a>
          <a [routerLink]="['userskills']" class="dashboard-nav-dropdown-item"><i class="fa fa-cogs"></i>Skills</a>
          <a [routerLink]="['usercompany']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-building"></i>Company</a>
          <a [routerLink]="['usercourses']" class="dashboard-nav-dropdown-item"><i
              class="fa fa-building"></i>Courses</a>
          <a [routerLink]="['usereducationdetails']" class="dashboard-nav-dropdown-item"> <i
              class="fa fa-graduation-cap"></i>Education Details</a>

        </div>
      </div>


      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-users"></i> Chat </a>
        <div class='dashboard-nav-dropdown-menu'>

          <a [routerLink]="['SocialFriends']" class="dashboard-nav-dropdown-item">SocialFriends</a>
          <a [routerLink]="['ChatApp']" class="dashboard-nav-dropdown-item">ChatApp</a>
          <a [routerLink]="['ColorChat']" class="dashboard-nav-dropdown-item">ColorChat</a>
          <a [routerLink]="['SimpleChatApp']" class="dashboard-nav-dropdown-item">SimpleChatApp</a>
          <a [routerLink]="['WhiteChat']" class="dashboard-nav-dropdown-item">WhiteChat</a>
          <a [routerLink]="['MessagesLikeMaterialDesign']"
            class="dashboard-nav-dropdown-item">MessagesLikeMaterialDesign</a>

          <a [routerLink]="['FacebookMessengerChat']" class="dashboard-nav-dropdown-item">FacebookMessengerChat</a>











          <a [routerLink]="['Bs4Timeline']" class="dashboard-nav-dropdown-item">Bs4Timeline</a>





        </div>
      </div>


      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-users"></i> Events </a>
        <div class='dashboard-nav-dropdown-menu'>
          <a [routerLink]="['EventSchedulesWithTabs']" class="dashboard-nav-dropdown-item">EventSchedulesWithTabs</a>
          <a [routerLink]="['ProjectList']" class="dashboard-nav-dropdown-item">ProjectList</a>
          <a [routerLink]="['SupportTickets']" class="dashboard-nav-dropdown-item">SupportTickets</a>

          <a [routerLink]="['ShopUserProfileWithTicket']"
            class="dashboard-nav-dropdown-item">ShopUserProfileWithTicket</a>
          <a [routerLink]="['UserCardTaskList']" class="dashboard-nav-dropdown-item">UserCardTaskList</a>
          <a [routerLink]="['Bs4ProjectList']" class="dashboard-nav-dropdown-item">Bs4ProjectList</a>
          <a [routerLink]="['TicketsForEvents']" class="dashboard-nav-dropdown-item">TicketsForEvents</a>

          <a [routerLink]="['OwlCarouselEvents']" class="dashboard-nav-dropdown-item">OwlCarouselEvents</a>

        </div>
      </div>


      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-users"></i> Profile </a>
        <div class='dashboard-nav-dropdown-menu'>
          <a [routerLink]="['AboutMeProfile']" class="dashboard-nav-dropdown-item">AboutMeProfile</a>

          <a [routerLink]="['ProfileWithInfoSkillsAndFriends']" class="dashboard-nav-dropdown-item">SkillsAndFriends</a>

          <a [routerLink]="['DriveFilesDocumentsUserProfile']" class="dashboard-nav-dropdown-item">FilesDocuments</a>

          <a [routerLink]="['ProfilePageWithActivities']" class="dashboard-nav-dropdown-item">Activities</a>

          <a [routerLink]="['WorksUserProfile']" class="dashboard-nav-dropdown-item">WorksUser</a>

          <a [routerLink]="['ProfileFollowersPage']" class="dashboard-nav-dropdown-item">Followers</a>
          <a [routerLink]="['ProfileWithTimeline']" class="dashboard-nav-dropdown-item">WithTimeline</a>

          <a [routerLink]="['ProfileFollowersPage']" class="dashboard-nav-dropdown-item">Followers</a>
          <a [routerLink]="['ProfileAboutInfo']" class="dashboard-nav-dropdown-item">ProfileAboutInfo</a>

          <a [routerLink]="['ProfileWithTimelinePosts']" class="dashboard-nav-dropdown-item">ProfileTimelinePosts</a>

          <a [routerLink]="['ProfileAbout']" class="dashboard-nav-dropdown-item">ProfileAbout</a>
          <a [routerLink]="['ProfilePhotos']" class="dashboard-nav-dropdown-item">ProfilePhotos</a>
          <a [routerLink]="['ProfileVideos']" class="dashboard-nav-dropdown-item">ProfileVideos</a>
          <a [routerLink]="['ProfileFriendList']" class="dashboard-nav-dropdown-item">ProfileFriendList </a>

          <a [routerLink]="['ProfileWithMessagesAndEdit']"
            class="dashboard-nav-dropdown-item">ProfileWithMessagesAndEdit</a>

          <a [routerLink]="['ProfileWithDataAndSkills']"
            class="dashboard-nav-dropdown-item">ProfileWithDataAndSkills</a>

          <a [routerLink]="['ProfileEditDataAndSkills']"
            class="dashboard-nav-dropdown-item">ProfileEditDataAndSkills</a>

          <a [routerLink]="['UserProfileWithTimelinePhotosAndSetting']"
            class="dashboard-nav-dropdown-item">TimelinePhotosAndSetting</a>
          <a [routerLink]="['UserProfileWithTabs']" class="dashboard-nav-dropdown-item">Families</a>

        </div>
      </div>

      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-users"></i> PaqPage </a>
        <div class='dashboard-nav-dropdown-menu'>
          <a [routerLink]="['PaqPage']" class="dashboard-nav-dropdown-item">PaqPage</a>

        </div>
      </div>



      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-users"></i> Profile </a>
        <div class='dashboard-nav-dropdown-menu'>
          <a [routerLink]="['family']" class="dashboard-nav-dropdown-item">Families</a>
          <a [routerLink]="['familyemails']" class="dashboard-nav-dropdown-item">Email</a>
          <a [routerLink]="['familycontacts']" class="dashboard-nav-dropdown-item">Contacts</a>
          <a [routerLink]="['familyeducationdetails']" class="dashboard-nav-dropdown-item">Education</a>
        </div>
      </div>





      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-users"></i> FAMILY </a>
        <div class='dashboard-nav-dropdown-menu'>
          <a [routerLink]="['family']" class="dashboard-nav-dropdown-item">Families</a>
          <a [routerLink]="['familyemails']" class="dashboard-nav-dropdown-item">Email</a>
          <a [routerLink]="['familycontacts']" class="dashboard-nav-dropdown-item">Contacts</a>
          <a [routerLink]="['familyeducationdetails']" class="dashboard-nav-dropdown-item">Education</a>
        </div>
      </div>



      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-tasks"></i> TASK </a>
        <div class='dashboard-nav-dropdown-menu'>
          <a [routerLink]="['task']" class="dashboard-nav-dropdown-item">Task</a>
          <a [routerLink]="['taskcommentdocuments']" class="dashboard-nav-dropdown-item">Task Comment Documents</a>
          <a [routerLink]="['taskcomments']" class="dashboard-nav-dropdown-item">Task Comments</a>
          <a [routerLink]="['taskdocuments']" class="dashboard-nav-dropdown-item">Task Documents</a>
          <a [routerLink]="['tasklog']" class="dashboard-nav-dropdown-item">Task Log</a>
          <a [routerLink]="['taskstate']" class="dashboard-nav-dropdown-item">Task State</a>
        </div>
      </div>



      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-building"></i> COMPANY </a>
        <div class='dashboard-nav-dropdown-menu'>
          <a [routerLink]="['company']" class="dashboard-nav-dropdown-item">Company</a>
          <a [routerLink]="['companyemails']" class="dashboard-nav-dropdown-item">Email</a>
          <a [routerLink]="['companycontacts']" class="dashboard-nav-dropdown-item">Contacts</a>
          <a [routerLink]="['companyaddress']" class="dashboard-nav-dropdown-item">Address</a>
          <a [routerLink]="['companyreviews']" class="dashboard-nav-dropdown-item">Company Reviews</a>
        </div>
      </div>




      <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-money-check-alt"></i> OTHERS </a>
        <div class='dashboard-nav-dropdown-menu'>
          <a [routerLink]="['usertypes']" class="dashboard-nav-dropdown-item"><i class="fa fa-building"></i>User
            Types</a>
          <a [routerLink]="['relationtypes']" class="dashboard-nav-dropdown-item">Relation Type</a>
          <!-- <a [routerLink]="['States']" class="dashboard-nav-dropdown-item">States</a> -->
          <a [routerLink]="['gender']" class="dashboard-nav-dropdown-item">Gender</a>

          <a [routerLink]="['marritalstatus']" class="dashboard-nav-dropdown-item">Marrital Status</a>
          <a [routerLink]="['medium']" class="dashboard-nav-dropdown-item">Medium</a>

          <a [routerLink]="['designation']" class="dashboard-nav-dropdown-item">Designation</a>

          <a [routerLink]="['states']" class="dashboard-nav-dropdown-item">State</a>
          <a [routerLink]="['status']" class="dashboard-nav-dropdown-item">Status</a>
          <a [routerLink]="['skills']" class="dashboard-nav-dropdown-item">Skill</a>
          <a [routerLink]="['sprint']" class="dashboard-nav-dropdown-item">Sprint</a>
          <a [routerLink]="['sprinttasks']" class="dashboard-nav-dropdown-item">Sprint Tasks</a>

          <a [routerLink]="['countries']" class="dashboard-nav-dropdown-item">Countries</a>
          <a [routerLink]="['coutrystates']" class="dashboard-nav-dropdown-item">Country State</a>
          <a [routerLink]="['qulificationtype']" class="dashboard-nav-dropdown-item">Qualification Type</a>


          <a [routerLink]="['courses']" class="dashboard-nav-dropdown-item">Course</a>
          <a [routerLink]="['courseyear']" class="dashboard-nav-dropdown-item">CourseYear</a>
          <a [routerLink]="['cyears']" class="dashboard-nav-dropdown-item">Cyear</a>

          <a [routerLink]="['semesters']" class="dashboard-nav-dropdown-item">Semester</a>
          <a [routerLink]="['usercourses']" class="dashboard-nav-dropdown-item">usercourses</a>
          <a [routerLink]="['yearsemester']" class="dashboard-nav-dropdown-item">Year Semester</a>
          <a [routerLink]="['template']" class="dashboard-nav-dropdown-item">Template</a>
          <a [routerLink]="['templatetype']" class="dashboard-nav-dropdown-item">Template Type</a>
          <a [routerLink]="['vacancies']" class="dashboard-nav-dropdown-item">Vacancies</a>
          <a [routerLink]="['vacanciesskill']" class="dashboard-nav-dropdown-item">Vacancies Skill</a>
          <a [routerLink]="['contacttype']" class="dashboard-nav-dropdown-item">Contact Type</a>
          <a [routerLink]="['departments']" class="dashboard-nav-dropdown-item">Departments</a>
          <a [routerLink]="['employmenttypes']" class="dashboard-nav-dropdown-item">Employment Types</a>
          <a [routerLink]="['industrytypes']" class="dashboard-nav-dropdown-item">Industry Types</a>
          <a [routerLink]="['menu']" class="dashboard-nav-dropdown-item">Menu</a>
          <a [routerLink]="['menu_list']" class="dashboard-nav-dropdown-item">Menu List</a>
          <a [routerLink]="['reviews']" class="dashboard-nav-dropdown-item">Reviews</a>
          <a [routerLink]="['rolecategory']" class="dashboard-nav-dropdown-item">Role Category</a>
          <a [routerLink]="['roles']" class="dashboard-nav-dropdown-item">Roles</a>
        </div>
      </div>



      <a [routerLink]="['test']" class="dashboard-nav-item"><i class="fa fa-cogs"></i> test </a><a
        [routerLink]="['test']" class="dashboard-nav-item"><i class="fa fa-user"></i> Profile </a>
      <div class="nav-item-divider"></div>
      <a [routerLink]="['test']" class="dashboard-nav-item"><i class="fa fa-sign-out-alt"></i> Logout </a>
    </nav>
  </div>
  <div class='dashboard-app'>
    <header class='dashboard-toolbar shadow-lg p-4 mb-4 bg-white'><a class="menu-toggle"><i class="fa fa-bars"></i></a>
    </header>
    <div class='dashboard-content'>
      <div class='container'>
        <router-outlet></router-outlet>
        <!-- <div class='card'>
            <div class='card-header'>
              <h1>Welcome back Jim</h1>
            </div>
            <div class='card-body'>
              <p>Your account type is: Administrator</p>
            </div>
          </div> -->




      </div>
    </div>
  </div>
</div>