<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>UserEmails</h1>
                
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    
                    <div class="col-md-3">
                        User :
                    </div>
                    <div class="col-md-3">

                          <select  id="Id" name="UserName" [(ngModel)]="useremails.UserId" class="form-control">
                            <option value="0">Select</option>
                            <option *ngFor="let  item of usersData" value="{{item.Id}}" > {{item.FirstName}} </option>
                        </select>
                      
                        <!-- <input type="number" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="useremails.UserId" placeholder="UserId" />useremailsData -->
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        Email :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="useremails.Email" placeholder="Email" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        IsPrimary :
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="useremails.IsPrimary" placeholder="IsPrimary" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        OrderId :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="useremails.OrderId" placeholder="OrderId" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        TypeId :
                    </div>
                    <div class="col-md-3">
                        <select  id="Id" name="UserName"  [(ngModel)]="useremails.TypeId" class="form-control">
                            <option value="0">Select</option>
                            <option *ngFor="let  item of contacttypeData" value="{{item.Id}}" > {{item.Name}} </option>
                        </select>
                    <!-- <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="useremails.TypeId" placeholder="TypeId" /> -->
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddUserEmails()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateUserEmails()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>UserEmails Data</h2> <button (click)="OnBack()" class="btn btn-primary"  >Back</button>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>Id</th>
                                        <th>UserId</th>
                                        <th>Email</th>
                                        <th>IsPrimary</th>
                                        <th>OrderId</th>
                                        <th>TypeId</th>
                                        
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of useremailsData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.Id}}</td>
                                        <td>{{item.UserId}}</td>
                                        <td>{{item.Email}}</td>
                                        <td>{{item.IsPrimary}}</td>
                                        <td>{{item.OrderId}}</td>
                                        <td>{{item.TypeId}}</td>
                                        
                                        <td><button class="btn btn-info" (click)="GetUserEmailsById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteUserEmails(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>