<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>Reviews</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        Heading_ :
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="reviews.Heading_" placeholder="Heading_">
                    </div>
                    <div class="col-md-3">
                        Description :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtDescription" class="form-control" id="txtcode"
                            [(ngModel)]="reviews.Description" placeholder="Description" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        Rating :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtRating" id="txtRating" class="form-control"
                            [(ngModel)]="reviews.Rating" placeholder="Rating" />
                    </div>

                    <div class="col-md-3">
                        IsActive :
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" name="txtIsActive" id="txtIsActive" class="form-control"
                            [(ngModel)]="reviews.IsActive" placeholder="IsActive" />
                    </div>
                    <br><br>

                    <div class="col-md-3">
                        IsPublic :
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" name="txtIsPublic" id="txtIsPublic" class="form-control"
                            [(ngModel)]="reviews.IsPublic" placeholder="IsPublic" />
                    </div>

                    <div class="col-md-3">
                        AccessLevel :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtAccessLevel" id="txtAccessLevel" class="form-control"
                            [(ngModel)]="reviews.AccessLevel" placeholder="AccessLevel" />
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddReviews()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateReviews()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>Reviews Data</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>Heading_</th>
                                        <th>Description</th>
                                        <th>Rating</th>
                                        <th>IsActive</th>
                                        <th>IsPublic</th>
                                        <th>AccessLevel</th>
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of reviewsData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.Heading_}}</td>
                                        <td>{{item.Description}}</td>
                                        <td>{{item.Rating}}</td>
                                        <td>{{item.IsActive}}</td>
                                        <td>{{item.IsPublic}}</td>
                                        <td>{{item.AccessLevel}}</td>
                                        <td><button class="btn btn-info" (click)="GetReviewsById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteReviews(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>