<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>Users</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        Id :
                    </div>
                    <div class="col-md-3">
                        <input type="number" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="users.Id" placeholder="Id">
                    </div>
                    <div class="col-md-3">
                        FirstName :
                    </div>
                    <div class="col-md-3">
                       
                        <input type="number" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="users.FirstName" placeholder="FirstName" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        LastName :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="users.LastName" placeholder="LastName" />
                    </div>

                    
                    <br><br>
                    <div class="col-md-3">
                        Dob :
                    </div>
                    <div class="col-md-3">
                        <input type="date" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="users.Dob" placeholder="Dob" />
                    </div>

                    
                    <br><br>
                    <div class="col-md-3">
                        Gender :
                    </div>
                    <div class="col-md-3">
                        <select name="" id="" [(ngModel)]="users.GenderId" class="form-control"> 
                            <option  *ngFor="let item of genderData" value="{{item.Id}}">{{item.GenderName}}</option>
                        </select>
                        <!-- <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="users.GenderId" placeholder="GenderId" /> -->
                    </div>

                    
                    <br><br>
                    <div class="col-md-3">
                        MarritalStatusId :
                    </div>
                    <div class="col-md-3">
                        <select name="" id="" [(ngModel)]="users.MarritalStatusId" class="form-control"> 
                            <option  *ngFor="let item of marritalstatusData" value="{{item.Id}}">{{item.StatusName}}</option>
                        </select>
                        <!-- <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="users.MarritalStatusId" placeholder="MarritalStatusId" /> -->
                    </div>

                    
                    <br><br>
                    <div class="col-md-3">
                        MobileNumber :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="users.MobileNumber" placeholder="MobileNumber" />
                    </div>

                    
                    <br><br>
                    <div class="col-md-3">
                        AadharNumber :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="users.AadharNumber" placeholder="AadharNumber" />
                    </div>

                    
                    <br><br>
                    <div class="col-md-3">
                        VoterId :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="users.VoterId" placeholder="VoterId" />
                    </div>

                    
                    <br><br>
                    <div class="col-md-3">
                        PanCardNumber :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="users.PanCardNumber" placeholder="PanCardNumber" />
                    </div>

                     
                    <br><br>
                    <div class="col-md-3">
                        UserType :
                    </div>
                    <div class="col-md-3">
                        <select name="" id="" [(ngModel)]="users.UserTypeId" class="form-control"> 
                            <option  *ngFor="let item of usertypesData" value="{{item.Id}}">{{item.Name}}</option>
                        </select>
                        <!-- <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="users.UserTypeId" placeholder="UserTypeId" /> -->
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddUsers()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateUsers()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>Users Data</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>Id</th>
                                        <th>FirstName</th>
                                        <th>LastName</th>
                                        <th>Dob</th>
                                        <th>GenderId</th>
                                        <th>MarritalStatusId</th>
                                        <th>VoterId</th>
                                        <th>AadharNumber</th>
                                        <th>PanCardNumber</th>
                                        <th>UserTypeId</th>

                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of usersData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.Id}}</td>
                                        <td>{{item.FirstName}}</td>
                                        <td>{{item.LastName}}</td>
                                        <td>{{item.Dob}}</td>
                                        <td>{{item.GenderId}}</td>
                                        <td>{{item.MarritalStatusId}}</td>
                                        <td>{{item.MobileNumber}}</td>
                                        <td>{{item.AadharNumber}}</td>
                                        <td>{{item.VoterId}}</td>
                                        <td>{{item.PanCardNumber}}</td>
                                        <td>{{item.UserTypeId}}</td>
                                        <td><button class="btn btn-info" (click)="GetUsersById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteUsers(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>