<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>UserContacts</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        Id :
                    </div>
                    <div class="col-md-3">
                        <input type="number" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="usercontacts.Id" placeholder="Id">
                    </div>
                    <div class="col-md-3">
                        User :
                    </div>
                    <div class="col-md-3">

                        <select  id="Id" name="UserContacts" [(ngModel)]="usercontacts.Id">
                            <option *ngFor="let item of usersData" value="{{item.Id}}" > {{item.FirstName}} </option>
                        </select>

                       
                        <!-- <input type="number" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="usercontacts.UserId" placeholder="UserId" /> -->
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        MobileNumber :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="usercontacts.MobileNumber" placeholder="MobileNumber" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        IsPrimary :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="usercontacts.IsPrimary" placeholder="IsPrimary" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        OrderId :
                    </div>
                    <div class="col-md-3">
                        
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="usercontacts.OrderId" placeholder="OrderId" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        ContactType :
                    </div>
                    <div class="col-md-3">

                        <select  id="Id" name="UserContactType" [(ngModel)]="usercontacts.Id">
                            <option *ngFor="let item of contacttypeData" value="{{item.Name}}" > {{item.Name}} </option>
                        </select>

                        <!-- <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="usercontacts.ContactTypeId" placeholder="ContactTypeId" /> -->
                    </div>

                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddUserContacts()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateUserContacts()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>UserContacts Data</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>Id</th>
                                        <th>UserId</th>
                                        <th>MobileNumber</th>
                                        <th>IsPrimary</th>
                                        <th>MobileNumber</th>
                                        <th>OrderId</th>
                                        <th>ContactTypeId</th>
                                        
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of usercontactsData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.Id}}</td>
                                        <td>{{item.UserId}}</td>
                                        <td>{{item.MobileNumber}}</td>
                                        <td>{{item.IsPrimary}}</td>
                                        <td>{{item.MobileNumber}}</td>
                                        <td>{{item.OrderId}}</td>
                                        <td>{{item.OrderId}}</td>
                                        <td>{{item.ContactTypeId}}</td>
                                        
                                        <td><button class="btn btn-info" (click)="GetUserContactsById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteUserContacts(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>