<div class="container">
    <div class="row">
        
        <p>
          Start editing to see some magic happen :)
        </p>
        <button (click)="start()">Start</button>
        <button (click)="stop()">Stop</button>
        {{display}}

        
        <div class="col-md-8">
            <ng-container *ngFor="let item of examQuestions;let i=index">
                <ng-container *ngIf="item.IsShow">
                    <div class="question">
                        <div class="question-number">
                            Question {{i+1}}---Ans--{{item.Answer}}
                        </div>
                        <div>
                            <p [ngStyle]="{'color':item.MarkAsReview>0?'red':''}">{{item.QuestionName}}-{{item.Id}}</p>
                        </div>
                        <div class="options">
                            
                            <div class="radio-inline" *ngFor="let o of item.QuestionOption" (click)="OnSelectionAnswer(item,o.Id)">
                                <input type="radio" name="option" value="option1" [checked]="+item.Answer==o.Id" > {{o.Option}}--{{o.Id}}  --{{+item.Answer==o.Id}}
                            </div> 
                            <!-- <label class="radio-inline">
                                <input type="radio" name="option" value="option2"> London
                            </label><br>
                            <label class="radio-inline">
                                <input type="radio" name="option" value="option3"> Berlin
                            </label><br>
                            <label class="radio-inline">
                                <input type="radio" name="option" value="option4"> Rome
                            </label><br> -->
                        </div>
                    </div>
                    <div class="timer">
                        <span id="timer">30:00</span>
                    </div>
                    <div class="navigation mb-5" style="float: right;">
                        <button class="btn btn-primary mr-2" (click)="OnPageIndex(i-1)" *ngIf="i>0">Back</button>
                        <button class="btn btn-primary mr-2" (click)="OnPageIndex(i+1)" *ngIf="examQuestions.length-1!=i">Next</button>
                        <button class="btn btn-primary mr-2" (click)="OnMarkAsReview(item)">MarkAsReview</button>
                        <button class="btn btn-primary" (click)="OnSave()">Save&Next</button>
                        <button class="btn btn-primary" (click)="OnSkip()">Skip</button>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="col-md-4">
            <div class="question-number text-right">
                <!-- [class.btn]="selectionQuestionId==item.Id" [class.btn-primary]="selectionQuestionId==item.Id"  -->
                <button class="square-box"  [ngStyle]="{'background-color':selectionQuestionId==item.Id?'red': item.MarkAsReview >0?'green':''}"    *ngFor="let item of examQuestions ;let i=index" (click)="OnPage(item.Id)">{{i+1}}   -{{item.QuestionId}}-{{item.Id}}--m{{item.MarkAsReview}}  --{{item.MarkAsReview >0}}</button>
                <!-- <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button>
                <button class="square-box">1</button> -->
            </div>
        </div>
    </div>