<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>SKILLS</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        SkillName :
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="txtskill" class="form-control" Name="txtskill"
                            [(ngModel)]="skills.SkillName" placeholder="SkillName">
                    </div>
                    <div class="col-md-3">
                        Code :
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="skills.Code" placeholder="Code" />
                    </div>
                    <br><br>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddSkills()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateSkills()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>SKILLS DATA</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>SkillName</th>
                                        <th>Code</th>
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of skillsData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.SkillName}}</td>
                                        <td>{{item.Code}}</td>
                                        <td><button class="btn btn-info" (click)="GetSkillsById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteSkills(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>