<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h1>USER EDUCATION DETAILS</h1>
            </div>
            <div class='card-body'>
                <div class="row" style="padding-bottom: 10px;">
                    
                    <div class="col-md-3">
                        User:
                    </div>
                    <div class="col-md-3">
                        
                        <select id="id"  name="UserName" [(ngModel)]="usereducationdetails.UserId" class="form-control">
                            <option *ngFor="let item of usersData" value="{{item.Id}}" > {{item.FirstName}} </option>
                        </select>



                        <!-- <input type="number" name="txtcode" class="form-control" id="txtcode"
                            [(ngModel)]="usereducationdetails.UserId" placeholder="UserId" /> -->
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        Qualificationtype :
                    </div>
                    <div class="col-md-3">

                    <select id="id"  name="QualificationtypeName" [(ngModel)]="usereducationdetails.QulificationtypeId" class="form-control">
                            <option *ngFor="let item of qulificationtypeData" value="{{item.Id}}" > {{item.QulificationName}} </option>
                        </select>


                        <!-- <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="usereducationdetails.QulificationtypeId" placeholder="QulificationtypeId" /> -->
                           
                    </div> 

                    
                    <div class="col-md-3">
                        YearOFPassout :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="usereducationdetails.YearOfpassout" placeholder="YearOFPassout" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        StartYear :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="usereducationdetails.StartYear" placeholder="StartYear" />
                    </div>

                    
                    <div class="col-md-3">
                        EndYear :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="usereducationdetails.EndYear" placeholder="EndYear" />
                    </div>

                    <br><br>
                    <div class="col-md-3">
                        Institution :
                    </div>
                    <div class="col-md-3">

                        <select id="id"  name="Institution" [(ngModel)]="usereducationdetails.InstitutionId" class="form-control">
                            <option *ngFor="let item of institutionsData" value="{{item.Id}}" > {{item.InstitutionName}} </option>
                        </select>


                        <!-- <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="usereducationdetails.InstitutionId" placeholder="InstitutionId" /> -->
                    </div>

                    
                    <div class="col-md-3">
                        Percentage :
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="txtcode" id="txtcode" class="form-control"
                            [(ngModel)]="usereducationdetails.Percentage" placeholder="Percentage" />
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-1">
                        <button (click)="AddUserEducationDetails()" class="btn btn-primary" *ngIf="isSave">Submit</button>
                    </div>
                </div>

                <div class="row " style="padding-bottom: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button (click)="UpdateUserEducationDetails()" class="btn btn-primary" *ngIf="isUpdate">Update</button>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="container mt-3">
                            <h2>USER EDUCATION DETAILS DATA</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #007bff;color: white">
                                        <th>UserId</th>
                                        <th>QulificationtypeId</th>
                                        <th>YearOFPassout</th>
                                        <th>StartYear</th>
                                        <th>EndYear</th>
                                        <th>InstitutionId</th>
                                        <th>Percentage</th>
                                        <th style="text-align: center;" colspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of usereducationdetailsData | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };
                                    let i = index">
                                        <td>{{item.UserId}}</td>
                                        <td>{{item.QulificationtypeId}}</td>
                                        <td>{{item.YearOfpassout}}</td>
                                        <td>{{item.StartYear}}</td>
                                        <td>{{item.EndYear}}</td>
                                        <td>{{item.InstitutionId}}</td>
                                        <td>{{item.Percentage}}</td>
                                        <td><button class="btn btn-info" (click)="GetUserEducationDetailsById(item.Id)"> Edit
                                            </button></td>
                                        <td><button class="btn btn-danger" (click)="DeleteUserEducationDetails(item.Id)"> Delete
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>